.App {
  padding: 30px;
}
.NavBar {
  padding-bottom: 30px;
}

.cardButton {
  width: 100%
}

.cardButtonContainer {
  width: 100%
}

.newProductCard {
  width: 600px;
}

.editProductCard {
  width: 600px;
}